<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Flask + pyecharts 整合示例</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body style="padding-top: 70px;">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:">Flask pyecharts Demo</a>

            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
            </ul>

        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navbar -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">日历热力图</div>
                <div class="panel-body">
                    <p><a href="/heatmap/">某人 2017 年微信步数情况</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">地图</div>
                <div class="panel-body">
                    <p><a href="/fujian/">福建省地图</a></p>
                </div>
            </div>
        </div>
         <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">散点图</div>
                <div class="panel-body">
                    <p><a href="/scatter/">散点图</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>